[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "==20.*"
loguru = "==0.6.*"
apscheduler = "==3.9.*"
httpx = "==0.23.*"
ping3 = "==4.0.*"

[dev-packages]
frida-tools = "==12.0.*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
